# Customize your settings:
#################################
# _REALM is your domain: all in CAPITALS
# _SYSVOLis your domain: all in LOWERCASE
# _DOMAIN is your WORKGROUP: all in CAPITALS
# _PASSWORD is the Administrator password: UPPERCASE+lowercase+numbers+specials
# _NETBIOS is the NETBIOS
# _TEMP_PASSWORD is the temporary password for changing users' passwords
# _DNS_FORWARDER These are the DNS that Samba will use for other domains
# _DNS_BACKEND says who will be the DNS of samba
#################################

_REALM="SEUDOMINIO.COM.BR"
_SYSVOL="seudominio.com.br"
_DOMAIN="SEUDOMINIO"
_PASSWORD="SuperSecretPassword@2025"
_NETBIOS="dc01"
_DNS_FORWARDER_1="1.1.1.1"
_DNS_FORWARDER_2="8.8.8.8"
_DNS_BACKEND="SAMBA_INTERNAL"
_TEMP_PASSWORD="TempSuperSecretPassword@2025"

# Some default settings:
#################################
_SAMBA_CONF_DIR="/etc/samba"
_SAMBA_LIB_DIR="/var/lib/samba"
_SAMBA_LOG_DIR="/var/log/samba"
_PROVISION_DIR="/root/provision"
