_REALM="SEUDOMINIO.COM.BR"
_NETBIOS="dc01"
_DNS_FORWARDER_1="1.1.1.1"
_DNS_FORWARDER_2="8.8.8.8"
_PASSWORD="SuperSecretPassword@2025"
_TEMP_PASSWORD="TempSuperSecretPassword@2025"

_SAMBA_CONF_DIR="/etc/samba"
_SAMBA_LIB_DIR="/var/lib/samba"
_SAMBA_LOG_DIR="/var/log/samba"
_PROVISION_DIR="/root/provision"
